<div class="wrapper">
    <div class="r1">
        <div class="sidebar-button">
            <i class="fa fa-bars"></i>
        </div>
        <div class="header"></div>
        <div class="voice-button">
            <i class="fa fa-bullhorn flip"></i>
        </div>
    </div>
    <div class="r2">
      <div class="screen-wrapper">

      </div>
    </div>
    <div class="r3">      
      <div class="mode">
        <span class="mode-text">M</span>
      </div>
      <div class="current-calculation"></div>      
    </div>
    <div class="r4">
      <div class="math-button bg1">
        <span class="btn">""</span>
      </div>
      <div class="math-button bg1">
          <span class="btn">/</span>
      </div>
      <div class="math-button bg1">
          <span class="btn">X</span>
      </div>
      <div class="math-button bg1">
          <span class="btn">Del</span>
      </div>
      <div class="math-button bg2">
          <span class="btn">1</span>
      </div>
      <div class="math-button bg2">
          <span class="btn">2</span>
      </div>
      <div class="math-button bg2">
          <span class="btn">3</span>
      </div>
      <div class="math-button bg1">
          <span class="btn">-</span>
      </div>
      <div class="math-button bg2">
          <span class="btn">4</span>
      </div>
      <div class="math-button bg2">
          <span class="btn">5</span>
      </div>
      <div class="math-button bg2">
          <span class="btn">6</span>
      </div>
      <div class="math-button bg1">
          <span class="btn">+</span>
      </div>
    </div>
    <div class="r5">
      <div class="rr1">
        <div class="math-button bg2">
            <span class="btn">7</span>
        </div>
        <div class="math-button bg2">
            <span class="btn">8</span>
        </div>
        <div class="math-button bg2">
            <span class="btn">9</span>
        </div>
        <div class="math-button bg2">
            <span class="btn fs-adjust">%</span>
        </div>
        <div class="math-button bg2">
            <span class="btn">0</span>
        </div>
        <div class="math-button bg2">
            <span class="btn">.</span>
        </div>
      </div>
      <div class="rr2">
        <div class="math-button bg1 adjust-height">
            <span class="btn">=</span>
        </div>
      </div>
    </div>   
</div>